{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>NLP</title>
  </head>
  <body>
    <h1 class='brand'>Cross</h1>
    
    <div class="container">
      <div class="circle"></div>
      <form action="" method="POST" class='form'>
        {% csrf_token %}
        <a id='text' href='#'>start</a>
      </form>
      <div class="pointer-container">
        <div class="pointer transP"></div>
      </div>
      <div class="gradient-circle transC"></div>
    </div>
    <div class="intro">
      <p class='introtext'>hey Boss I am Cross version 1 point O your personal assistant.</p>
    </div>


    <div id="assistant_function" class='try'>
      <div class="other">
        <div class="card-image"></div>
        <div class="card-text">AuQA</div>
        <div class="card-stats"><a href="{% url 'QAsystem' %}">Stats</a></div>
      </div>

      <div class="chatbot">
        <div class="card-image"></div>
        <div class="card-text">Chatbot</div>
        <div class="card-stats"><a href="{% url 'chatbotQA' %}">Stats</a></div>
      </div>

      <div class="Sentiment">
        <div class="card-image"></div>
        <div class="card-text">Sentiment Analysis</div>
        <div class="card-stats"><a href="{% url 'sentAnalys' %}">Stats</a></div>
      </div>

      <div class="text_summ">
        <div class="card-image"></div>
        <div class="card-text">Text Summarization</div>
        <div class="card-stats"><a href="{% url 'textSumm' %}">Stats</a></div>
      </div>
      
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
  </body>
</html>
