{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Text Summarization</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/textSumm_style.css' %}">
	<link rel="stylesheet" href="{% static 'css/medium-editor.css' %}">
	<link rel="stylesheet" href="{% static 'css/themes/default.css' %}">
</head>
<body>
	<div class="homebutton" style="position: absolute; left: 10px; font-size: 2.5em;">
        <a href="{% url 'homepage' %}" style="text-decoration: none;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            </svg>
        </a>
    </div>
	
	<p><a class="brand" href="{% url 'textSumm' %}">Text Summarization</a></p>
	
	<div class="container">
		<div class="form_group">
			<form method='POST' enctype='multipart/form-data' id='form'>
			{% csrf_token %}
			  	<div class="file-field input-field">
					<div class="btn">
						<span>Choose File</span>
						<input  id="inputfile" type="file" name='text'>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" type="text" placeholder="Upload text file...">
					</div>
				</div>
			</form>

			<button class="btn waves-effect waves-light go" id="summarize" onclick="submitForm()">Go
				<i class="material-icons right">assessment</i>
			</button>
		</div>

		<div id="output" class="editable medium-editor-element"></div>
		
		<a class="btn waves-effect waves-light" id="link" onclick="download()">Download</a>
	</div>
	
	<script type="text/javascript" src="{% static 'js/textSumm.js' %}"></script>
	<script src="{% static 'js/medium-editor.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		var data=JSON.parse("{{ data|escapejs }}");
		data=data['ST'][1]
		output.appendChild(document.createTextNode(data));
		var editor = new MediumEditor('.editable', {
			buttonLabels: false,
		});
		output.style.display = "block";
		link.style.opacity = "1";

		document.getElementById('link').onclick=function(){
			var text=editor.getContent()
			text=text.replace(/(<([^>]+)>)/ig,"")
			console.log('this is\n'+text)
			var blob = new Blob([text], { type: "text/plain"});
			
			objectURL = URL.createObjectURL(blob);
			link.download = 'summ'; // this name is used when the user downloads the file
			// console.log(link.download);
			link.href = objectURL;
		}
	</script>
</body>
</html>